$invertedColor: #313a45;	
$baseColor:#adb0b5;
$linkhoverColor: #ba7700;
$navLinkBackgroundColor: lighten($invertedColor,10%);
$dropdownMenuLinkColor:#adb0b5;
$dropdownMenuLinkHoverColor:#fff;
$dropdownBackground: #3e4751;
$navPadding: 15px;
$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;
$marginMobile:15px;
$primaryColor: #009999;

$nav-link-color-hover: lighten($primaryColor,10%);

$font-light-color: #aaa;